lightning>=2.0.6
omegaconf>=2.3.0
pydantic>=2.1.1
albumentations>=1.3.1
torchvision>=0.15.0
timm>=0.9.6
torchmetrics>=1.1.1
tensorboard>=2.14.0
torchinfo>=1.8.0
opencv-python-headless>=4.7.0.72
clearml>=1.10.4
